language: php

php:
  - 5.4

env:
  - SYMFONY_VERSION="2.2.*" DB=mysql

before_install:
  # install apache : tip from https://gist.github.com/3123962
  - sudo apt-get install -y apache2 > /dev/null
  - sudo a2enmod actions > /dev/null
  - sudo a2enmod rewrite > /dev/null
  - sudo a2enmod headers > /dev/null
  - echo "ServerName localhost" | sudo tee -a /etc/apache2/httpd.conf > /dev/null
  - echo "export PATH=/home/vagrant/.phpenv/bin:$PATH" | sudo tee -a /etc/apache2/envvars > /dev/null
  - cat .travis/phpconfig | sudo tee /etc/apache2/conf.d/phpconfig > /dev/null
  - cat .travis/virtualhost | sed -e "s~PATH~`pwd`~g" | sudo tee /etc/apache2/sites-available/default > /dev/null
  - sudo service apache2 restart > /dev/null
  - mysql -e 'create database sweepo_test;'

  # node, npm
  - npm install -g less@1.3.0 > /dev/null

before_script:
  # basic config
  - rm web/app.php
  - rm app/config/config_prod.yml

  - cp .travis/app.php web/app.php
  #- cp .travis/behat.yml behat.yml
  - cp .travis/config_prod.yml app/config/config_prod.yml
  - cp .travis/parameters.yml app/config/parameters.yml

  # install composer
  - wget http://getcomposer.org/composer.phar > /dev/null
  - php composer.phar update --dev --prefer-source

  # mysql
  - bin/create_database.sh test

  # assetic
  - app/console assetic:dump --force

script:
  - phpunit -c app/ --stop-on-failure
  #- bin/create_database.sh test
  #- bin/behat -f progress