parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     sweepo_dev
    database_user:     root
    database_password: root

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~
    mandrill_api_key:  sdfksdhbfgksdfgksdg-sbdfgbksdfhgdsfg

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    node_base_path: /usr/local/bin/node
    node_lib_path: /usr/local/lib/node
    node_modules_path: /usr/local/share/npm/lib/node_modules #/usr/local/share/npm/lib/node_modules/less
    jar_file: /Resources/java/yuicompressor-2.4.7.jar

    consumer_key: dfsdfqsdfqsdf
    consumer_secret: qdfqsdfqdsfqdsf

    twitter_callback: http://sweepo.dev/app_dev.php/login-check
