{% extends 'SweepoCoreBundle:Email:layout.html.twig' %}

{% block body %}
    <table style="width:100%; border:1px #ccc solid;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:100%; border-bottom:1px #ccc solid;">
                <table style="width:100%; padding:8px 8px 11px 8px;">
                    <tr>
                        <td style="width:40px;" valign="top">
                            <img src="http://a0.twimg.com/profile_images/2029465935/4089930308-closeup-219x281_normal.jpg" style="border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px;"/>
                        </td>
                        <td style="">
                            <table>
                                <tr>
                                    <td style="font-weight: bold; width:500px;"><a href="" style="color:#333; text-decoration: none;">Nom Twitter</a> <span style="font-weight:normal; font-size:12px; color:#b8b8b8;">@screename</span></td>
                                </tr>
                                <tr>
                                    <td style="width:500px; margin:2px 0 1px 0; font-size: 15px;">
                                        How do layers affect rendering performance? What are layers anyway?
                                        Tom Wiltzius explains: <a href="">http://t.co/s5QhmoS88g</a> #WebPerf
                                    </td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}