{% extends 'SweepoSiteBundle:Layouts:layout.html.twig' %}

{% block container %}
    <div id="container_introduction">
        <h1>Ne ratez plus jamais ce qui se dit</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        </p>
        <p>
            <a href="{{ path('login') }}" class="btn btn-large btn-primary"><i class="icon icon-twitter icon-margin"></i>{{ 'connect_twitter' | trans }}</a>
        </p>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'front/less/SiteBundle/index.less'
        filter='less,?yui_css'
    %}

        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
