<script type="text/template" id="subscription_template">
    <% _.each(subscriptions, function(subscription) { %>
        <li id="<%= subscription.id %>" class="subscription">
            <span class="<%= subscription.type === 'keyword' ?  'ticket_sub_green' : 'ticket_sub_red' %>"></span>
            <% if (subscription.type == 'user') { %>
                <i class="icon icon-user icon_margin"></i>
            <% } else { %>
                <i class="icon icon-comment icon_margin"></i>
            <% } %>
            <%= subscription.subscription %>
            <i class="icon icon-remove-circle"></i>
            <button class="btn btn-danger delete_subscription">{{ 'delete' | trans }} ?</button>
        </li>
    <% }); %>
</script>