<script type="text/template" id="tweet_loading_template">
    <li class="tweet tweets_loading">
        <i class="icon icon-twitter icon-margin"></i> Tweets {{ 'loading' | trans }} ...
    </li>
</script>